<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbConString" value="Provider=SQLOLEDB;Data Source=BMW7;Password=Alliance$1;User ID=sa;Initial Catalog=BEST"/>
    <add key="dbConString1" value="Provider=SQLOLEDB;Data Source=74.86.130.67;Password=Login@best;User ID=loginbest;Initial Catalog=Best"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="FromName" value="Balaji"/>
    <add key="enableSSL" value="1"/>
    <add key="ShowTerribleErrors" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=YVLATHA;Password=Alliance$1;User ID=sa;Initial Catalog=BEST" providerName="System.Data.OleDb"/>
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=74.86.130.67;Password=Login@best;User ID=loginbest;Initial Catalog=Best"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>